        .logo {
            height: 140px;
            width: 140px;
            top: 0;
        }
        * {box-sizing: border-box;}
        body { 
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
        .carousel-content {
            position: absolute;
            bottom: 20%;
            left: 33%;
            z-index: 20;
            font-size: 30px;
            color: white;
        }
        .caro-img img{
            
        }
        .monospace {
            font-family: "Lucida Console", Courier, monospace;
            letter-spacing: 5px;
            font-size: 30px;
        }